.scoreCard {
	width: 100px;
	height: 54px;
	float: left;
	border-style:solid;
	border-width:1px;
	margin: 0px 5px 10px 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, "MS Trebuchet", sans-serif;
	
}

.title, .home, .away{
	height: 18px;
	padding-left: 5px;
	padding-top: 3px;
	overflow: hidden;	
}

.title{	
	background-color:#666;
	color: #999;	
}

.home{
	background-color:#CCC;
		
}

.away{
	background-color:#999;	
}


#scoreHolder{
	width: 960px;
	height: 60px;
	overflow: hidden;
}
