.scoreCard {
	width: 100px;
	height: 54px;
	float: left;
	border-style:solid;
	border-width:1px;
	margin: 0px 5px;
}

.title{
	height: 18px;
	background-color:#666;	
}

.home{
	height: 18px;
	background-color:#CCC;	
}

.away{
	height: 18px;
	background-color:#999;	
}


#scoreHolder{
	width: 960px;
	height: 56px;
	overflow: hidden;
}
